{
  "parser": "babel-eslint",
  "extends": ["standard", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  },
  "rules": {
    "eol-last": 0,
    "no-unused-vars": 1,
    "jsx-quotes": ["warn", "prefer-double"],
    "comma-dangle": 0
  },
  "ignore": [
    "bundle.js"
  ],
  "plugins": [
    "react"
  ]
}