{
  "parser": "babel-eslint",
  "extends": ["standard", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  },
  "rules": {
    "eol-last": 0,
    "no-unused-vars": 1,
    "comma-dangle": 0,
    "space-before-function-paren": 0,
    "no-trailing-spaces": [2, {
      "skipBlankLines": true
    }]
  },
  "ignore": [
    "bundle.js",
    "**/node_modules/*"
  ],
  "plugins": [
    "react"
  ],
  "globals": {
    "fetch": false
  }
}