.no-padding {
    padding: 0;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.icon-before:before {
  margin-right: 1rem;
}

.icon-after:before {
  margin-left: 1rem;
}

.clickable {
  cursor: pointer;
}

input[type=checkbox] {
  cursor: pointer;
}

.headline {
  margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 150%;
  }
}