@import '../css/variables.css'

$gray-base:              #000;
$gray-darker:            #222;
$gray-dark:              #333;
$gray:                   #464545;
$gray-light:             #999;
$gray-lighter:           #EBEBEB;

$brand-primary:         #375a7f;
$brand-success:         #00bc8c;
$brand-info:            #3498DB;
$brand-warning:         #F39C12;
$brand-danger:          #E74C3C;

@define-extend overflowEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-empty {
  color: $gray-light;
  font-style: italic;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  &_title {
    white-space: nowrap;
    margin: 0;
  }

  &_items {
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;

  }

  &_username {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &_item {
    margin: 0 1rem;
    white-space: nowrap;

    @media screen and (max-width: 767px) {
      margin: 0 0.5rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &_actions {

  }
}

@media screen and (max-width: 767px) {
  .icon-before:before {
    margin: 0;
  }
}

.btn_text {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.buttonMenu {
  padding: 1rem;
}

.wish {
  display: flex;
  align-items: center;

  flex-wrap: wrap;

  $wishChildMargin: 0.4rem;

  > * {
    margin-top: $wishChildMargin;
    margin-bottom: $wishChildMargin;
  }

  &-empty {
    color: $gray-light;
    font-style: italic;
  }

  &_btn, &_detail {
    margin: 0 1rem;
    padding: 0;

    &-right {
      margin-left: auto;
      margin-right: 0;
    }
  }

  &_title {
    @extend overflowEllipsis;
    &-bought {
      color: $gray-light;
      text-decoration: line-through;
    }

    margin-right: 1rem;
  }

  &_url {
    @extend overflowEllipsis;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &_urlLink {
    color: $brand-info;
  }

  &_description {
    @extend overflowEllipsis;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &_descriptionText {
    color: $gray-light;
    font-style: italic;
  }

  &_edit {
    margin-right: 1rem;
  }
}

.sharedListsWrapper {
  display: inline-block;
  position: relative;
  z-index: 3;
}

.sharedLists {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}