@import '../css/variables.css'

$gray-base:              #000;
$gray-darker:            #222;
$gray-dark:              #333;
$gray:                   #464545;
$gray-light:             #999;
$gray-lighter:           #EBEBEB;

$brand-primary:         #375a7f;
$brand-success:         #00bc8c;
$brand-info:            #3498DB;
$brand-warning:         #F39C12;
$brand-danger:          #E74C3C;

@define-extend overflowEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  &_title {
    white-space: nowrap;
    margin: 0;
  }

  &_items {
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: auto;
  }

  &_item {
    margin: 0 1rem;
    white-space: nowrap;

    &:last-child {
      margin-right: 0;
    }
  }
}

.wish {
  display: flex;
  align-items: center;

  &-empty {
    color: $gray-light;
    font-style: italic;
  }

  &_btn, &_detail {
    margin: 0 1rem;
    padding: 0;

    &-right {
      margin-left: auto;
      margin-right: 0;
    }
  }

  &_title {
    @extend overflowEllipsis;
    &-bought {
      color: $gray-light;
      text-decoration: line-through;
    }

    margin-right: 1rem;
  }

  &_url {
    @extend overflowEllipsis;
    margin-left: 2rem;
    margin-right: 1rem;
  }

  &_urlLink {
    color: $brand-info;
  }

  &_description {
    @extend overflowEllipsis;
    margin: 0 1rem;
  }

  &_descriptionText {
    color: $gray-light;
    font-style: italic;
  }

  &_edit {
    margin-right: 1rem;
  }
}