@import '../css/variables.css'

$gray-base:              #000;
$gray-darker:            #222;
$gray-dark:              #333;
$gray:                   #464545;
$gray-light:             #999;
$gray-lighter:           #EBEBEB;

$brand-primary:         #375a7f;
$brand-success:         #00bc8c;
$brand-info:            #3498DB;
$brand-warning:         #F39C12;
$brand-danger:          #E74C3C;

.chat {
  display: flex;
  height: 100%;
  flex-direction: column;

  &_messages {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(50vh - 45px);
    background: $gray-dark;
    border: 1px solid $gray;
  }
}

@media(max-width:767px){}
@media(min-width:768px){}

@media(min-width:992px){
  .chat_messages {
    max-height: calc(100vh - 140px);
  }
}

@media(min-width:1200px){}